.box {
  padding: 0 400px;

}

.product-index {
  width: 280px;
  height: 350px;
  padding: 20px;
  margin: 20px 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.product_image {
  margin-left: 10px;
  border-radius:35px;

}

.product-text {
  padding-top: 10px;
  padding-left: 30px;
  font-size: 10px; }

.paginate {
  padding: 10px; }

.profile {
  border-radius: 50%; }

.collapse {
  display: flex;
  justify-content: flex-end; }

.product-show {

  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding-top:50px;
  padding-left:10px;
  display: flex;
}

.map{
  margin-left:150px;
}



.product-ranking {
  margin: 20px;
  display: flex;
  justify-content: space-evenly; }

#target {
  width: 300px;
  height: 200px; }

.array {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%; }

.Placement {

  margin-left: 50px;
  font-size: 15px;

}

.nav-link {
  font-size: 15px; }

.current {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5); }

.ranking {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  padding:20px;
  width:300px;
  margin:0 auto; }

.ranking p {
  text-align: center;
  }

.about{
  margin:0 auto;
  width:1000px;
  height:800px;


}

.about-image{
  width: 800px;
  height:500px;
  margin:20px auto;

}
.frame {
  box-shadow: 20px 20px 20px #999;
}

.about-text{
  text-align: center;
  margin-top:50px;
  height:300px;

}
.about-image2{
  width:400px;
  height:300px;
  margin-top:70px;
  margin-left:100px;

}

.about2{
  display:flex;

}

.about-text2{
  margin-top:70px;
  text-align:center;
  height:300px;
  padding-top:100px;
  padding-left:20px;

}

.about-image3{
  width:400px;
  height:500px;
  padding-top:100px;
  margin-left:50px;
}

.about3{
  display: flex;
}

.about-text3{
  margin-top:100px;
  margin-left:100px;
  text-align:center;
  height:300px;
  padding-top:100px;
  padding-left:20px;

 }

#target {
  width:400px;
  height:200px;
}

