<div class="about">
  <div class="about-image">
    <div class="frame"><%= image_tag'about.jpg', size:'800x400'%></div>
    <div class="about-text">
      <h2><b>meal_diaryとは?</b><br>
      <h6>普段の食事をより楽しく、美味しくする為に食事の内容を記録して<br>
        みんなで共有する事を目的としています。<br>
      </h6>
    </div>
  </div>
  <div class="about2">
    <div class="about-image2">
      <div class="frame"><%= image_tag'about2.jpg', size:'400x300'%></div>
    </div>
    <div class="about-text2">
      <h2><b>みんなのオススメを確認</b></h2>
      <h6>投稿に対して、いいねボタンがあり<br>
    　　　　いいねの数が多い順のランキングがあります。
      </h6>
    </div>
  </div>
  <div class="about3">
    <div class="about-text3">
      <h2><b>お店の位置を地図で確認</b></h2>
      <h6>お店の位置をgoogle mapで確認する事が<br>
    　できます。
      </h6>
    </div>
    <div class="about-image3">
      <div class="frame"><%= image_tag'about3.jpg', size:'400x300'%></div>
    </div>
  </div>
</div>



