<h1>TOPページ</h1>

 <div id="box">
  <div id="images">
    <div class="image1"></div>
    <div class="image5"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>
<div class = "calendar">
<%= month_calendar do |date| %>

  <%= date.day %>
<% end %>
</div>